@font-face {
    font-family: "Big Shoulders Display";
    src: url(../../font/BigShouldersDisplay-ExtraBold-subset-v3\ \(1\).woff2);
    font-display: swap;
}

@font-face {
    font-family: "Kuunari";
    src: url(../../font/kuunari-bold-subset.v2.woff2);
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: "Kuunari";
    src: url(../font/kuunari-medium-subset.woff2);
    font-display: swap;
    font-weight: 500;
}